<body>
<p>(données récupérées du component "liste")</p>
<table>
   <tr>
      <th bgcolor=#f5db80>UID</th>
      <th>nom</th>
      <th bgcolor=#f5db80>UO</th>
      <th>nom site</th>
      <th bgcolor=#f5db80>Numero ligne</th>
      <th>modèle</th>
      <th bgcolor=#f5db80>Date renouv.<br>prévue</th>
      <th></th>
   </tr>
   <tr>
      <td bgcolor=#f5db80>111111</td>
      <td>pim</td>
      <td bgcolor=#f5db80>SDI101</td>
      <td>VALMY5</td>
      <td bgcolor=#f5db80>06 06 06 06 06</td>
      <td>iPhone 12</td>
      <td bgcolor=#f5db80>29-02-2021</td>
      <td>
         <a routerLink="/container/details/id" class="nav-link" href="#">détails</a>
         <!-- <a routerLink="/container/liste" class="nav-link" href="#">suppr</a> -->
      </td>
   </tr>
   <tr>
      <td bgcolor=#f5db80>222222</td>
      <td>pampampampampampam</td>
      <td bgcolor=#f5db80>XXX666</td>
      <td>VALMY30</td>
      <td bgcolor=#f5db80>07 06 06 06 07</td>
      <td>iPhone 1</td>
      <td bgcolor=#f5db80>06-06-2026</td>
      <td>
         <a  class="nav-link" href="#">détails</a>
         <!-- <a  class="nav-link" href="#">suppr</a> -->
      </td>
   </tr>
</table>

</body>