<p>(données récupérées du component "liste")</p>
<p style="font-weight: bold;">Affectation</p>
<button>Supprimer (si active et création du jour)</button>
<button>Cloturer (si active)</button>
<p>dateAffectation</p>
<p>dateRenouvellementPrevue</p>
<p>commentaire</p>
<p>dateFin (grisée si en cours)</p>
<p>motifFin (grisée si en cours)</p>
<br>
<p style="font-weight: bold;">mobile</p>
<p>modeleIphone</p>
<p>numeroSerie</p>
<p>prixIphone</p>
<br>
<p style="font-weight: bold;">Collaborateur</p>
<p>UID : </p>
<p>Nom</p>
<p>prénom</p>
<p>numéro ligne (modifiable ??)</p>
<br>
<p style="font-weight: bold;">Uo</p>
<p>codeUo</p>
<p>fonctionRattachement</p>
<p>codeUoParent</p>
<p>nomUsageUo</p>
<p>nomResponsableUo</p>
<br>
<p style="font-weight: bold;">Site</p>
<p>nomSite</p>
<p>adressePostale1</p>
<p>codePostal</p>
<p>ville</p>
<p>pays</p>






