<p>Etape 1 : saisie su UID</p>
<span>
   UID : <input type="text" name="UID"> (back interrogé sur entrée)
   <br>
   <br>
   (infos du collaborateur retounées par le back : )

   <br>
   nom - prenom - uo - nomSite
</span>
<br>
<br>
<p>Etape 2 : choix iphone</p>
<span>
   type iphone : <input type="" name="" id=""> (liste déroulante ; back interrogé sur sélection ou click sur 1 boutoon à
   ajouter)

   <br>
   <br>
   (infos de l'iphone retounées par le back : )
   <br>
   n° série - prix - (photo ?)

</span>
<br>
<br>
<p>Etape 3 : info affectation</p>
   <span>
      commentaire : <input type="" name="" id="">
      date de l'affectation : <input type="" name="" id="">

</span>
<br>
<br>
<button>Valider</button>

